.DS_Store
.vscode/
.idea/
.git/
fixtures/
coverage/
coverage.xml
node_modules/
migrations/*.zip
**/*.log
*.bat
*.cmd
*.md
.gitignore
Dockerfile
.tags
.drone.yml
.version

tests/_output/*
tests/_support/_generated

config/db.php
config/params.php
config/test_params.php
config/kassaclients/*
config/applepayclients/*
