PassEnv DATABASE_DSN DATABASE_USER DATABASE_USER_PASSWORD
PassEnv TEST_URL
PassEnv REDIS_HOST REDIS_PORT
PassEnv REDIS_DB_NUM_QUEUE REDIS_DB_NUM_CACHE
Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
 
RewriteCond %{REQUEST_URI} ^/.*
RewriteRule ^(.*)$ web/$1 [L]

RewriteCond %{REQUEST_URI} !^/web/
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ web/index.php
