*, body {
    font-family: 'Roboto', sans-serif;
}

.control__input {
    padding: 12px 8px;
    font-weight: 300;
    color: #767676;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #B3B3B3;
    outline: none;
}

.form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.form__main_header {
    font-weight: 300;
    font-size: 26px;
    color: #333333;
    text-align: center;
}

.form__sender {
    border-radius: 0.5rem;
    background-color: #005395;
    padding: 1rem;
    margin-top: 34px;
}

.form__sender_header {
    font-weight: 400;
    color: #ffffff;
}

.form__sender_card_number {
    margin-top: 1rem;
}

.form__sender_card_number input {
    width: 100%;
    display: block;
}

.form__sender_cvc_expiry {
    margin-top: 1rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0;
}

@media only screen and (max-width:20em) {
    .form__sender_cvc_expiry {
        grid-template-columns: repeat(2, 1fr);
    }
}

.form__sender_cvc_expiry input {
    width: 100%;
    display: block;
}

.form__recipient {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #efefef;
}

.form__recipient_title {
    font-weight: 400;
    color: #808080;
}

.form__recipient_card_number {
    display: block;
    width: 100%;
    margin-top: 1rem;
}

.form__payment_details {
    margin-top: 2rem;
    padding: 4rem;
    background-color: #ffffff;
    box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width:25em) {
    .form__payment_details {
        padding: 4rem 2rem;
    }
}

.form__payment_details__amount__label {
    font-weight: 400;
    font-size: 18px;
    color: #767676;
}

.form__payment_details__amount__input {
    display: block;
    width: 100%;
    margin-top: 1rem;
}

.form__payment_details__amount__info {
    margin-top: 1rem;
    font-weight: 400;
    color: #767676;
    display: block;
}

.form__payment_details_error {
    background-color: rgba(254, 48, 63, 0.1);
    padding: 1rem;
    margin-top: 1rem;

    font-size: 14px;
    color: #767676;
}

.form__payment_details__commission {
    margin-top: 1rem;

    display: flex;
    justify-content: space-between;
}

.form__payment_details__commission > span {
    display: block;

    font-weight: 400;
    color: #767676;
}

.form__payment_details__send {
    margin-top: 2rem;
    outline: none;

    border-radius: 10px;
    border: none;
    padding: 1rem;
    width: 100%;

    font-weight: 400;
    font-size: 18px;

    background-color: #70BE43;
    color: #FFFFFF;
    cursor: pointer;
}

.form__payment_details__send:disabled {
    color: #0926FD;
    cursor: not-allowed;
    background-color: #dfdedf;
}

.form__offer {
    margin-top: 2rem;
}

.form__offer__label a {
    text-decoration: none;
    color: #005395;
}


.control {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 0px;
    padding-top: 1px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    color: #8e8e8d;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 1px solid #8E8E8D;
    border-radius: 4px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #ffffff;
}

.control input:checked ~ .control_indicator {
    background: #ffffff;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #ffffff;
}

.control input:disabled ~ .control_indicator {
    background: #969696;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 8px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid #8e8e8d;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #525252;
}

.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    background: #595959;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}

@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.control-checkbox input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}